.container {
    width: 1300px;
    padding: 50px 15px;
    margin: 0 auto;
    position: relative;
}

@media only screen and (max-width: 1199px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .container {
        padding: 40px 15px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 30px 15px;
    }
}

@media only screen and (max-width: 481px) {
    .container {
        padding: 20px 15px;
    }
}