.btn {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .btn {
        padding: 10px 20px;
    }
}
@media only screen and (max-width: 768px) {
    .btn_position {
        padding: 10px 20px;
    }
}