.portfolio-area {
  position: relative;
}

.portfolios {
  padding-left: 100px;
}

.portfolio-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.portfolio-nav li {
  border: solid 2px #15FC08;
  color: #E5DCE9;
  padding: 5px 25px;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 4px;
}

.portfolio-nav li.active {
  background-color: #15FC08;
  color: #111A28;
  font-weight: 900;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:30px;
}
.portfolio-container.withoutImg {
  margin-top: 30px;
}
.portfolio{
  border-radius: 4px;
  background-color: #1D293A;
  width: 100%;
}

.portfolio-img {
  position: relative;
  width: 100%;
  height: 300px;
  overflow-y: hidden;
  transition-duration: 7s;
}

.portfolio-img .image{
  width: 100%;
  height: auto;
  transition-duration: 20s;
}
.portfolio-img:hover .image{
  transform: translateY(calc( -100% + 300px));
}

.prt-name{
  font-size: 26px;
  font-weight: 900;
  padding-top: 15px;
  text-align: center;
  color: #FFFFFF;
}
.details {
  margin: 15px;
  border-left:1px solid #15FC08;
  border-top:1px solid #15FC08;
  border-right:1px solid #15FC08;
  border-radius:4px;
}
.details > h4{
  padding: 15px;
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btn-default{
  background-color: #111A28;
  color: #E5DCE9;
}
.btn-green {
  background-color: #15FC08;
  color: #111A28;
}
.description-container{
  padding: 15px;
  color: #FFFFFF;
}


.description-title{
  font-size: 20px;
  font-weight: 400;
  color: #15FC08;
  padding-right: 8px;
}

.portfolio-features {
  margin-top: 15px;
}
.portfolio-features li{
  display: flex;
  align-items: center;
  gap:4px;
}
.portfolio-tools{
  padding: 15px 0px;;
}
.portfolio-tools .tools{
  margin-right: 15px;
  font-size: 14px;
  background-color: #111A28;
  padding: 4px 8px;
  border-radius: 4px;
  line-height: 34px;
}

.portfolio-link{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap:30px;
}
.portfolio-link li{
  background-color: #15FC08;
  color: #111A28;
  font-weight: bold;
  padding: 10px 0px; 
  border-radius: 4px;
}


@media only screen and (max-width: 991px) {
  .portfolio-container {
      grid-template-columns: repeat(1, 1fr);
    }
  
  .portfolio-nav {
    justify-content: center;
  }

}

@media only screen and (max-width: 768px) {
  .portfolios {
      padding-left: 0;
    }
}

@media only screen and (max-width: 481px) {
  .portfolio-nav {
    margin-bottom: 0;
  }

  .portfolio-nav li {
    margin: 0 5px;
    margin-bottom: 15px;
  }
  .portfolio-link {
    grid-template-columns: repeat(1, 1fr);
    gap:15px;
  }
  
}
