.portfolio-area {
  position: relative;
}

.portfolios {
  padding-left: 100px;
}

.portfolio-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.portfolio-nav li {
  border: solid 2px #15FC08;
  color: #E5DCE9;
  padding: 5px 25px;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 4px;
}

.portfolio-nav li.active {
  background-color: #15FC08;
  color: #111A28;
  font-weight: 900;
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap:30px;
  flex-wrap: wrap;
}
.portfolio-items.withoutImg{
  margin-top: 30px;
}
.portfolio{
  background-color: #1D293A;
}

.portfolio-img {
  position: relative;
  width: 100%;
  height: 300px;
  overflow-y: hidden;
  transition-duration: 7s;
}

.portfolio-img .image{
  width: 100%;
  transition-duration: 1s;
}
.portfolio-img:hover .image{
  transform: translateY(calc( -100% + 300px));
}

.prt-name{
  font-size: 26px;
  font-weight: 900;
  padding-top: 15px;
  text-align: center;
  color: #FFFFFF;
}
.details {
  margin: 15px;
  padding: 15px;
  border-left:1px solid #15FC08;
  border-top:1px solid #15FC08;
  border-right:1px solid #15FC08;
  border-radius:4px;
}


.details p {
  color: #FFFFFF;
}


.portfolio-items .portfolio .links {
  margin-top: 15px;
}

.portfolio-items .portfolio .links ul {
  display: flex;
  font-size: 22px;
}

.portfolio-items .portfolio .links ul li {
  margin-right: 10px;
}

.portfolio-items .portfolio .links ul li a {
  color: #E5DCE9;
  transition: 0.2s all;
}

.portfolio-items .portfolio .links ul li a:hover {
  color: #15FC08;
}


.portfolio-items .portfolio h4 {
  font-size: 22px;
}

/* .portfolio-items .details h4 a {
  text-decoration: none;
  color: inherit;
} */

.portfolio-items .portfolio-tools {
  display: flex;
  margin-top: 15px;
}

.portfolio-items .portfolio-tools li {
  margin-right: 15px;
}

.portfolio-items .portfolio-tools li {
  text-decoration: none;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.65);
  font-size: 16px;
}

@media only screen and (max-width: 991px) {
  .portfolio-items {
      grid-template-columns: repeat(1, 1fr);
    }
  
  .portfolio-nav {
    justify-content: center;
  }

}

@media only screen and (max-width: 768px) {
  .portfolios {
      padding-left: 0;
    }
}

@media only screen and (max-width: 481px) {
  .portfolio-nav {
    margin-bottom: 0;
  }

  .portfolio-nav li {
    margin: 0 5px;
    margin-bottom: 15px;
  }

  
}
