.about-area {
  padding: 5px 0px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:30px;
  margin-right: 100px;
}

.about > * {
  flex: 1;
}

.about-details{
  width: 70%;
}
.about-details p {
  line-height: 2;
  text-align: start;
}

.about-action {
  margin-top: 25px;
  display: flex;
  justify-content: start;
}

.about-image {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 100%;
}
.about-image .image{
  transition-duration: 2s;
  width: 100%;
  
}
/* .about-image:hover .image{
  transform: scale(1.1);
} */
.img_container{
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  transition-duration: 2s;
  box-shadow: 0px 0px 15px -1px #15FC08;
  border-radius: 100%;
}



@media only screen and (max-width: 1024px) {
  .about {
    text-align: center;
    margin-right: 0px;
    flex-direction: column-reverse;
  }

  .about > * {
    flex: 1 1 100%;
  }

  .about-details{
  width: 100%;
}
.about-image {
  width:100%;
  justify-content: center;
}
.about-details p {
  text-align: center;
}
.about-action {
  justify-content: center;
}


}
