.about-area {
  padding: 5px 0px;
}

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap:20px;
  margin-right: 100px;
}

.about > * {
  flex: 1;
}

.about-details p {
  line-height: 2;
}

.about-action {
  margin-top: 25px;
}

.about-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-image .image{
  border-radius: 10px;
  transition-duration: 2s;
}
.about-image:hover .image{
  transform: scale(1.1);
}



@media only screen and (max-width: 768px) {
  .about {
    text-align: center;
    margin-right: 0px;
    flex-direction: column-reverse;
  }

  .about > * {
    flex: 1 1 100%;
  }
}
