.banner-area {
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.banner-area .bg {
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}

.banner {
  padding-left: 100px;
  padding-top: 50px;
}

.banner p {
  font-size: 22px;
  color: #64cf5f;
}

.banner h1 {
  color: #e5dce9;
  font-size: 78px;
  font-weight: 900;
  margin-bottom: 25px;
}

.banner h3 {
  color: #64cf5f;
}

.banner ul {
  display: flex;
  margin: 8px 0px 25px 15px;
}

.banner ul li {
  position: relative;
  margin-right: 30px;
  color: #e5dce9;
}

.banner ul li:before {
  position: absolute;
  content: "";
  left: -15px;
  top: 8px;
  background-color: #64cf5f;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

/* .banner ul li:first-child:before {
    display: none;
} */

@media only screen and (max-width: 991px) {
  .banner h1 {
    font-size: 62px;
  }
}

@media only screen and (max-width: 768px) {
  .banner-area {
    /* flex-direction: column-reverse; */
    flex-direction: column;
    justify-content: center;
  }

  .banner {
    padding-left: 0;
    text-align: center;
    padding-top: 0;
  }

  .banner p {
    font-size: 21px;
  }

  .banner h1 {
    font-size: 52px;
  }

  .banner h3 {
    font-size: 22px;
  }

  .banner ul {
    justify-content: center;
  }

  .banner ul li {
    font-size: 16px;
  }
}

@media only screen and (max-width: 481px) {
  .banner p {
    font-size: 18px;
  }

  .banner h1 {
    font-size: 36px;
  }

  .banner h3 {
    font-size: 20px;
  }

  .banner ul {
    flex-direction: column;
  }

  .banner ul li {
    font-size: 14px;
    margin-right: 0;
  }

  .banner ul li:before {
    display: none;
  }
}
